footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#rodape{
    display:flex;
    justify-content: center;
    text-align: center;
    padding: 5px;
    background-color: #EF233C;
}

#titulo_contato{
    display: flex;
    color: black;
    flex-direction: column;
    flex-wrap: nowrap;
}

.links{
    width: 50px;
}